<h1>Create New Player</h1>

<form action="/api/rosters/new", method="POST">
    <input type="text" name="fullname" placeholder="fullname">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="mobile" placeholder="mobile">
    <input type="text" name="note" placeholder="note">
    <button>Submit!</button>
</form>