<h1>Create New Player</h1>

<form action="/api/rosters/new", method="POST">
    <input type="number" name="player[number]" placeholder="number">
    <input type="text" name="player[firstname]" placeholder="firstname">
    <input type="text" name="player[lastname]" placeholder="lastname">
    <input type="text" name="player[email]" placeholder="email">
    <input type="text" name="player[mobile]" placeholder="mobile">
    <button>Submit!</button>
</form>